.Navbar-container {
    padding: 44px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo img {
    width: 174px;
    height: 37px;
}

.navbar-classlist {
    display: flex;
    gap: 42px;
}

.navbar-classlist a {
    text-decoration: none;
    color: white;
    font-family: Manrope;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -2%;
    text-align: center;
    
}

.navbar-classlist a:hover {
    color: #fa9696;
}

.navbar-button button{
    border: none;
    padding: 11px 34px;
}