


.footer{
    display: flex;
    justify-content: center;
    gap: 20px;
    color: white;
    align-items: center;
    border-bottom: 2px solid #2F2E34;
    margin-bottom: 20px;
    width: 1170px;
    margin-left: 110px;
    padding: 20px;
}
.footer h3{
font-weight: 600;
font-size: 20px;
line-height: 24px;
letter-spacing: -2%;


}
.footer h4{
font-weight: 600;
font-size: 20px;
line-height: 28px;
letter-spacing: -2%;
color: rgb(154, 155, 156);
}
.footer1{
    display: flex;
    justify-content: center;
    gap: 450px;
    color: white;
    padding: 50px;
    align-items: center;
}

.sss{
    margin-left: 50px;
}