.sec7 {
  width: 1100px;
  background-color: #29282f;
  margin-top: 2px;
}
.sec7 h2 {
  font-weight: 500;
  font-style: Medium;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -1%;
  color: #ffffff;
  padding: 15px;
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sec77 {
  margin-left: 150px;
  margin-bottom: 100px;
}
